<div class="welcome">
	<div id="home_header" class="col-xs-12">
		<%= image_tag('louise.png', style: 'visibility: hidden; width: 100%; height: auto;') %>
	</div>
	<div class="col-xs-12">
		<div class="container">
			<div class="row manifesto">
				<h4 class="text-center">Do you know that peace is within reach? </h4>
				<h4 class="text-center">Do you desire more ease and enjoyment in your life; to live in the now? </h4>
				<h4 class="text-center">Are you open and ready to unlock the wisdom of your body?</h4>

			</div>
		</div>
	</div>
	
	<div class="purple-bg moonvibetribe">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<div class="entry col-xs-12 col-md-6 text-left">
						<p>I guide people into connection and communication with their bodies, creating a comforting space for growth and healing to occur from within any body. I combine my skills in meditation, yoga, massage and energy work,</p>
					</div>

					<div class="entry col-xs-12 col-md-6 text-left">
						<p>Tailoring sessions to meet you exactly where you are and encompass methods specific to you and your unique intentions. Let's set up a free consultation appointment, if you're ready to try me out.</p>
						<hr />
					</div>
					

					<div class="entry col-xs-12 text-center">
						<h3 class="text-center">meditation &middot; yoga &middot; massage &middot; energy work</h3>

						<p>I provide single session and seasonal packages for one-on-one work, combining yoga, meditation, massage and energy work. </p> 
						<br /><br />
						<h4>one session ......... $125</h4>
						<h4>three sessions ...... $325</h4>

						
						<h3><br /><br />Three month programs</h3>
						<p>Consistency creates a personal practice and a depth of connection of your body/mind. This leads to transformation that happens when one is truly commited to the process. </p>
						<br /><br />

						<h4>12 sessions ......... $2000</h4>
						<h4>24 sessions ......... $3500</h4>
					</div>

					<div class="entry col-xs-12 text-center button">
						<%= link_to "WORK WITH ME", contact_path, class: "btn btn-default ha-btn" %>
					</div> 
					
				</div>
			</div>
		</div>
	</div>

		<div class="col-xs-12">
		<div class="container">
			<div class="row text-center testimonials">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
					  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">

			          <div class="item active">
								<div class="item">
			          	
			          		<div class="hidden-xs col-sm-3 pic">
			          			<div class="thumbnail">
			           				<%= image_tag('heather.png', class: 'testimonial-img') %>
			           			</div>
			           		</div>
			           		<div class="col-xs-12 col-sm-9">
			          			<p>Heather's in depth study of yoga has made her a natural with body and energetic work. Her compassionate heart and loving intentions help her to work with the energetic body in a way that surpasses the effect of manual body work. You will not only feel relaxed muscularly, you will feel a deep inner working towards peace and steadiness that doesn't end when you leave your session. The unraveling continues so that the work continues in your life. This is a rare gift, one that comes from a studied and embodied place. Her hands follow her heart as she responds to yours. There is no judgement just a loving relationship of body, breath, insight and intention. </p>
			          		</div>
			          	
			          </div>
			     
				  </div>


				</div>
			</div>
		</div>
	</div>

	<div class="purple-bg">
		<div class="col-xs-12">
			<div class="container">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container about">
			<div class="row">
				
				<div class="col-xs-12 col-sm-6">
					<h4 class="text_center">ABOUT HEATHER</h4>
					<p class="entry">My own journey has ushered me in overcoming anxiety and becoming my true self. I worked for 10 years as a web developer in corporate environments, teaching yoga on the side. I could no longer ignore the pull of my desire to work helping others. I became an LMT (licensed massage therapist) to further my skills in helping nourish and nurture others.</p>
				</div>

				<div class="col-xs-12 col-sm-6">
					<div class="thumbnail">
						<%= image_tag 'heather.png' %>
					</div>
				</div> 

				<div class="col-xs-12">
					<p class="entry">As I continuously refine my ability to bring myself home, I want to help others find compassion and connection - qualities that are abundant within us all. I believe in the potential for change that is living inside each of us. I understand the loss of hope that occurs when pain (physical, emotional or mental) is present. By bringing a more open awareness to the body, I lead clients into a thriving relationship with their inner selves and their greatest potential.</p>
				</div>
				
				
			</div>
		</div>
	</div>		

	<div class="col-xs-12">
		<div class="container">
			

				<div class="row text-center insta">
					
					<div class="container">
						<% @insta.take(4).each do |insta| %>
						  <div class="col-xs-6 col-sm-3">
						    <div class="thumbnail">
						      <a href="<%= insta.link %>" target="_blank">
						      	<%= image_tag insta.images.thumbnail.url %>
						      </a>
						    </div>
						  </div>
						<% end %>
						
					</div>
					<div class="connect">
						<a href="https://www.facebook.com/heather.allmaan" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/ofthefeather/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="purple-bg">
		<div class="col-xs-12">
			<div class="container">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>


</div>
