<div class="welcome">
	<div id="home_header" class="col-xs-12">
		<%= image_tag('louise.png', style: 'visibility: hidden; width: 100%; height: auto;') %>
	</div>

	<div class="col-xs-12 work-header">
		<h4 class="text-center">WAYS TO WORK WITH HEATHER</h4>
	</div>

	<div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h2>Package 1</h2>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left" style="padding-left: 30px;">
							<p>Through yoga and massage guide people into connection and communication with their bodies, creating a comforting space for growth and healing to occur. Tailoring sessions to meet you exactly where you are and encompassing methods specific to you and your unique intentions.</p>

							<h3>What's included:</h3>
							<ul>
								<li>4 massage sessions (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)
								<li>8 yoga sessions (<%= link_to "see below for details", welcome_path(anchor: 'about-work') %>)</li>
							</ul>

							<h3>This package is for you, if...</h3>
							<ul>
								<li>You are needing to slow down and calm your mind</li>
								<li>You would like to feel more freedom in your body</li>
								<li>You want to dive deeper into creating a personal practice</li>
							</ul>

							<p><b>$2000 for 12 weeks of weekly sessions and support</b></p>
						</div>

						

					</div>

				</div>
			</div>
		</div>
	</div>

	
	<div id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<h3 class="text-center" id="about-work">ABOUT MY WORK</h3>

					<div class="entry col-xs-12 text-center">
						<p>Essentially, I coach my clients into bodily awareness. Why is this important? Our bodies hold intelligence beyond what we've traditionally been taught but that has been studied for thousands of years in a system called Yoga. This focus also brings us into a state of peace that is often lost in our world that values immediacy and action. I will teach you how to slow down.  </p><br /><br />
					</div>

					<div class="entry col-xs-6 text-left border-right">
						<p style="padding: 0 15px 0 15px;"><b>ABOUT MY MASSAGE SESSIONS</b> &middot; <br />Slow-paced connective and soft tissue manipulation, integrated with CranioSacral therapy - a technique for balancing the flow of cerebral spinal fluid that protects your central nervous system, aimed toward balancing your body and bringing you into a state of awareness with it. Sessions are approximately 90 min.</p>
					</div>

					<div class="entry col-sm-6 text-left">
						<p style="padding: 0 15px 0 25px;"><b>ABOUT MY YOGA SESSIONS</b> &middot; <br />Incorporating meditation, yoga asana (postures), and breathwork, to various degrees. Not every body needs the same postures, needs also vary on a daily basis due to shifts in your body and emotional state. Sessions are approximately 75 min.</p>

					</div>

					

					<!-- <div class="entry col-xs-12 text-center">
						
						<p><b>MY MASSAGE</b> &middot; Slow-paced connective and soft tissue manipulation aimed toward balancing your body and bringing you into a state of awareness with it. Sessions are approximately 90 min.</p>

						<br /><br />
						<h4>one session ......... $125</h4>
						<h4>three sessions ...... $325</h4>

						
						<h3><br /><br />Three month yoga programs</h3>
						<p>Consistency creates a personal practice and a depth of connection of your body/mind. This leads to transformation that happens when one is truly commited to the process. I combine my skills in meditation, yoga, massage and energy work to create sessions that best fit your needs. Sessions are approximately 75 min.</p>
						<br /><br />
						<p><a href="contact.html">Let's set up a free consultation session</a>, if you're ready to try me out.</p>

						<p>What's included</p>



						<h4>12 sessions ......... $2000</h4>
						<h4>24 sessions ......... $3500</h4>
					</div> -->

					<!-- <div class="entry col-xs-12 text-center button">
						<%# link_to "WORK WITH ME", contact_path, class: "btn btn-default ha-btn" %>
					</div>  -->
					
				</div>
			</div>
		</div>
	</div>

	<div class="beige-bg" id="work">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">

					<div class="entry col-xs-12 col-md-3 text-left">
						<h2>Package 2</h2>
					</div>

					<div class="entry col-xs-12 col-md-9 text-right border-left">
						<div class="text-left" style="padding-left: 30px;">
							<p>Through yoga and massage guide people into connection and communication with their bodies, creating a comforting space for growth and healing to occur. Tailoring sessions to meet you exactly where you are and encompassing methods specific to you and your unique intentions.</p>

							<h3>What's included:</h3>
							<ul>
								<li>8 massage sessions (<%= link_to "see above for details", welcome_path(anchor: 'about-work') %>)
								<li>16 yoga sessions (<%= link_to "see above for details", welcome_path(anchor: 'about-work') %>)</li>
							</ul>

							<h3>This package is for you, if...</h3>
							<ul>
								<li>You understand that creating change in your body requires patience and consistency</li>
								<li>You REALLY want to create transformation in your body and mind</li>
								<li>You would like to feel more freedom in your body</li>
								<li>You want to dive deeper into creating a personal practice</li>
							</ul>

							<p><b>$3500 for 12 weeks of bi-weekly sessions and support</b></p>
						</div>

						

					</div>

				</div>
			</div>
		</div>
	</div>


	<div class="col-xs-12 manifesto">
		<div class="container">
			<div class="row">
				
				<!-- <h4 class="text-center">Do you have trouble clearing yourself of your day/thoughts/work? </h4>
				<h4 class="text-center">Are you ready to live with more ease and enjoyment? </h4> -->
				<h4 class="text-center">Are you ready to feel better and unlock the wisdom your body contains?</h4>

				<div class="entry col-xs-12 text-center button">
					<%= link_to "SCHEDULE A FREE CONSULTATION", contact_path, class: "btn btn-default ha-btn" %>
				</div> 

			</div>
		</div>
	</div>
	

	<div class="col-xs-12">
		<div class="container">
			<div class="row testimonials">
				<div class="entry col-xs-6 text-left border-right">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					  	 <% @testimonials.each_with_index do |testimonial, index| %>

					  	 	<% if index == 0 %>
				          <div class="item active">
				       	<% else %>
									<div class="item">
				       	<% end %>

										<div class="col-xs-12">
			          			<%= strip_tags(testimonial.body) %>
			          			<p class="sig">-<%= testimonial.title %></p>										  
			          		</div>
				          </div>
				      <% end %>
							</div>
						</div>
					</div>

					<div class="entry col-xs-6 text-left">
						<h2>WHAT CLIENTS HAVE TO SAY</h2>
					</div>	

				</div>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container about" id="about">
			<div class="row">

				<div class="entry col-xs-12 col-md-5 text-left">
					<div class="thumbnail">
						<%= image_tag 'heather.png' %>
					</div>
				</div>

				<div class="entry col-xs-12 col-md-7 text-left">
					<h2>ABOUT HEATHER</h4>
					<p class="entry">My own journey has ushered me in overcoming anxiety and becoming my true self. I worked for 10 years as a web developer in corporate environments, teaching yoga on the side. I could no longer ignore the pull of my desire to work with the body. I became an LMT (licensed massage therapist) to further my skills in helping nourish and nurture others.</p>
				
					<p class="entry"> Teaching yoga since 2012, I have been drawn towards the principles embodied by Ashtanga yoga. Traveling to study in Thailand with Richard Freeman opened my senses to teach focused a slower movement and more internal focus.
					</p>

					<p class="entry">As I continuously refine my ability to bring myself home, I want to help others find compassion and connection - qualities that are abundant within us all. I believe in the potential for change that is living inside each of us. I understand the loss of hope that occurs when pain (physical, emotional or mental) is present. By bringing a more open awareness to the body, I lead clients into a thriving relationship with their inner selves and their greatest potential.</p>
				</div>

			</div>
		</div>	

	<!-- <div class="col-xs-12">
		<div class="container">
			
				<div class="row text-center insta">
					
					<div class="container">
						<%# @insta.take(4).each do |insta| %>
						  <div class="col-xs-6 col-sm-3">
						    <div class="thumbnail">
						      <a href="<%# insta.link %>" target="_blank">
						      	<%# image_tag insta.images.thumbnail.url %>
						      </a>
						    </div>
						  </div>
						<%# end %>
						
					</div>
					
				</div>
			</div>
		</div>
	</div> -->

</div>
