<div class="welcome">
	<div id="home_header" class="col-xs-12">
		<%= image_tag('louise.png', style: 'visibility: hidden; width: 100%; height: auto;') %>
	</div>
	<div class="col-xs-12">
		<div class="container">
			<div class="row manifesto">
				<h4 class="text-center">Do you know that peace is within reach? </h4>
				<h4 class="text-center">Do you desire more ease and enjoyment in your life; to live in the now? </h4>
				<h4 class="text-center">Are you open and ready to hear the wisdom of your body?</h4>

			</div>
		</div>
	</div>
	
	<div class="purple-bg moonvibetribe">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<div class="entry col-xs-12 col-md-6 text-left">
						<p>I guide people into connection and communication with their bodies, creating a comforting space for growth and healing to occur from within any body. I combine my skills in meditation, yoga, massage and energy work,</p>
					</div>

					<div class="entry col-xs-12 col-md-6 text-left">
						<p>Tailoring sessions to meet you exactly where you are and encompass methods specific to you and your unique intentions. Let's set up a free consultation appointment, if you're ready to try me out.</p>
						<hr />
					</div>
					

					<div class="entry col-xs-12 text-center">
						<h3 class="text-center">meditation &middot; yoga &middot; massage &middot; energy work</h3>

						<p>I provide single session and seasonal packages for one-on-one work, combining yoga, meditation, massage and energy work. </p> 
						<br /><br />
						<h4>one session ......... $125</h4>
						<h4>three sessions ...... $325</h4>

						
						<h3><br /><br />Three month programs</h3>
						<p>Consistency creates a personal practice and a depth of connection of your body/mind. This leads to transformation that happens when one is truly commited to the process. </p>
						<br /><br />

						<h4>12 sessions ......... $2000</h4>
						<h4>24 sessions ......... $3500</h4>
					</div>

					<div class="entry col-xs-12 text-center button">
						<%= link_to "WORK WITH ME", contact_path, class: "btn btn-default ha-btn" %>
					</div> 
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container">
			<div class="row text-center testimonials">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					    <li data-target="#myCarousel" data-slide-to="1"></li>
    					<li data-target="#myCarousel" data-slide-to="2"></li>
					  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">

							<div class="item active">
	           		<div class="col-xs-12">
	           			<div class="col-xs-12 col-sm-4 pic">
		           			<%= image_tag('jen.png', class: 'testimonial-img') %>
		           		</div>
	          			<p>Heather's in depth study of yoga has made her a natural with body and energetic work. Her compassionate heart and loving intentions help her to work with the energetic body in a way that surpasses the effect of manual body work. You will not only feel relaxed muscularly, you will feel a deep inner working towards peace and steadiness that doesn't end when you leave your session. The unraveling continues so that the work continues in your life. This is a rare gift, one that comes from a studied and embodied place. Her hands follow her heart as she responds to yours. There is no judgement just a loving relationship of body, breath, insight and intention.<br />  <b>-Jennifer <a href="http://campbellyoga.com/">campbellyoga.com</a></b></p>
	          		</div>
	          	</div>

							<div class="item">
	           		<div class="col-xs-12">
	           			<div class="col-xs-12 col-sm-4 pic">
		           			<%= image_tag('katie.png', class: 'testimonial-img') %>
		           		</div>
	          			<p>I've been lucky enough to have met with Heather for a variety of therapies in every trimester of my pregnancy. I've been able to see the benefits across the board for specific issues/ problems I've experience over the last 9 months.</p>

									<p>In my first trimester, I was very sick. I experienced "morning sickness" very early on, lasting for much longer than is typical for the average pregnant woman -- or at least that's what my midwife ensured me of. That said, I had extreme lower back pain due to spending many evenings hunched over on a cold floor. Along with the back pain, my muscles were tight and tense. Massage was so helpful during this time. Just having my back, shoulders and neck worked on was extremely effective in relieving that tension and helping me feel less tight overall. Getting the blood moving and releasing the knots in my shoulders helped my sleep during that time as well. Something I struggled with through out my pregnancy.</p>

									<p>In to my second trimester, we tried some massage and craniosacral therapy focusing on my hips and near my belly. As I started feeling the effects of the increased relaxin hormone in my body, I was feeling more pain in my low back and hips and generally was feeling more overall body soreness. Having Heather focus in on those areas felt fantastic and anytime she focused energy near my belly, my daughter would kick -- which was a really great experience. I felt like my daughter was getting benefits from this touch as well. I could really feel the positive effects of the massage for days after my appointments. I sleep better, had less specific pain-points and was overall more positive because my body simply felt better.</p>

									<p>Finally, in my third trimester, I have been dealing with a lot of water retention and swelling in my lower legs, ankles, and feet, as well as, cramping. This had been made worse because of the long commutes required for work. During this time, Heather focused on helping to move that extra fluid around my legs and focusing massage on my feet. I have to say that this has been the most effective way to decrease the pain and swelling. I've tried salt baths, keeping my feet elevated, compression socks, drinking a ton of water, avoiding salt, etc. and nothing helped like massage.</p>

									<p>I can't say enough for how helpful Heather's massage and various therapies have been through out my pregnancy. I am so grateful to have been able to see her so often and am not sure how I would have made it to 9 months without her help. <br />  <b>-Katie <a href="http://arroyodesignhouse.com/">arroyodesignhouse.com</a></b></p>
	          		</div>
	          	</div>

	          	<div class="item">
	           		<div class="col-xs-12">
	           			<div class="col-xs-12 col-sm-4 pic">
		           			<%= image_tag('mb.png', class: 'testimonial-img') %>
		           		</div>
	          			<p>The most discernible benefits I've received from working with Heather are relief from muscle tension and stress. However, I have also noticed more subtle changes after a session as well. Along with being incredibly relaxing, massage and craniosacral therapy have also helped improve my mood.</p>

									<p>My energy is elevated and I am less likely to get irritated with everyday stresses for long periods of time after sessions. As a yoga practitioner and teacher in training I have also noticed that my sensitivity to the energy around me increases after a craniosacral session. I feel more attune to the energy of those around me after a session and I believe this will help me when approaching students in class. <br />  <b>-Mary Beth</b></p>
	          		</div>
	          	</div>

					</div>
				</div>	
			</div>
		</div>
	</div>

	<div class="purple-bg">
		<div class="col-xs-12">
			<div class="container">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="container about">
			<div class="row">
				
				<div class="col-xs-12 col-sm-6">
					<h4 class="text_center">ABOUT HEATHER</h4>
					<p class="entry">My own journey has ushered me in overcoming anxiety and becoming my true self. I worked for 10 years as a web developer in corporate environments, teaching yoga on the side. I could no longer ignore the pull of my desire to work with the body. I became an LMT (licensed massage therapist) to further my skills in helping nourish and nurture others.</p>
				</div>

				<div class="col-xs-12 col-sm-6">
					<div class="thumbnail">
						<%= image_tag 'heather.png' %>
					</div>
				</div> 

				<div class="col-xs-12">
					<p class="entry">As I continuously refine my ability to bring myself home, I want to help others find compassion and connection - qualities that are abundant within us all. I believe in the potential for change that is living inside each of us. I understand the loss of hope that occurs when pain (physical, emotional or mental) is present. By bringing a more open awareness to the body, I lead clients into a thriving relationship with their inner selves and their greatest potential.</p>
				</div>
				
				
			</div>
		</div>
	</div>		

	<div class="col-xs-12">
		<div class="container">
			

				<div class="row text-center insta">
					
					<div class="container">
						<% @insta.take(4).each do |insta| %>
						  <div class="col-xs-6 col-sm-3">
						    <div class="thumbnail">
						      <a href="<%= insta.link %>" target="_blank">
						      	<%= image_tag insta.images.thumbnail.url %>
						      </a>
						    </div>
						  </div>
						<% end %>
						
					</div>
					<div class="connect">
						<a href="https://www.facebook.com/heather.allmaan" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/ofthefeather/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="purple-bg moonplanner">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<div class="moonplanner">
						<div class="hidden-xs col-sm-5">
							<div class="thumbnail">
								<a href="http://www.themoonplanner.com" target="_blank"><%# image_tag('moonplanner.png') %></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-sm-offset-1">
							<h4>MOON PLANNER <br /> 2017</h4>
							<p>Aquarius Nation &amp; Star Mandalas<br />
							 Bringing you a 2017<br />
							 energetic forecast</p>
							<%# link_to "READ MORE", "http://www.themoonplanner.com", class: "btn btn-default an-btn", target: '_blank' %>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="purple-bg">
		<div class="col-xs-12">
			<div class="container">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>


</div>
